/*
** This is the CSS for the web pages
*/

header {
  background-color: #3c3c3c;
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  padding: 1px;
}

.container-aside {
  background-color: white;
  padding-top: 2%;
  padding-left: 1%;
}

h1 {
  color: black;
  padding-bottom: 3%;
}

h2 {
    font-size: 20px;
    color: black;
  }
h3 {
    font-size: 20px;
    color: black;
  }

h4 {
    font-size: 20px;
    color: white;
  }

ul:hover {
    color: black;
    background-color: whitesmoke;
    width: 42%;
    cursor: pointer;
}
.listGroup {
    list-style-type: none
    border-spacing: 2px;
    color: black;
    background-color: whitesmoke;
    width: 42%;
    padding: 5%
}
/*
** Forecast card style
*/
.card-body {
    color: white;
}

#forecastDate1 {
    font-weight: bold;
    font-size: 20px;
}

#forecastDate2 {
    font-weight: bold;
    font-size: 20px;
}

#forecastDate3 {
    font-weight: bold;
    font-size: 20px;
}

#forecastDate4 {
    font-weight: bold;
    font-size: 20px;
}

#forecastDate5 {
    font-weight: bold;
    font-size: 20px;
}

/* form input boxes */
input{
    width: 75%;
    resize: vertical;
  }
  

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}


/* Style the cards */
.card {
  text-align: left;
  background-color: white;
  width: 350px;
  height: 350px; 
}